{% load static %}

<!DOCTYPE html>
   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="{% static 'stylee.css' %}">
      
      <title>CamLive</title>
   </head>
   <body>
      
    {% include 'includes/navebar.html' %}

    <div class="container">
      <p>Welcome to CamLive, where you can connect cameras or upload videos to detect the number of people in the video or camera feed.</p>
      <!-- Your home page content goes here -->
  </div>

  
 
       <script src="{% static 'main.js' %}"></script>
 
    </body>
         
      
         
    
</html>